.vscode
.idea
BenchmarkDotNet.Artifacts/*.log
BenchmarkDotNet.Artifacts/results/*.csv
BenchmarkDotNet.Artifacts/results/*.html
obj/
bin/
out/
benchmarks.sln.DotSettings.user
dotnet-crypto-benchmarking.sln.DotSettings.user
